 
 

       
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                   <div class="card">
                        <div class="card-body">
                            <div class="email-left-box">
                                
                                 
                                <a [routerLink]="['/solved']" routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" class="btn btn-primary btn-block">EXams</a>
                                <div id="dashboard1">

                                        <a [routerLink]="['/solved']" routerLinkActive="active"   class="list-group-item border-0  p-r-0">
                                            <i class="fa fa-inbox font-18 align-middle mr-2"></i> 
                                            <b>Solved</b> <span class="badge badge-success badge-sm float-right m-t-5">{{countSolved}}</span> 
                                        </a>
    
                                       
    
    
                                   
                                             <a [routerLink]="['/notsolved']" routerLinkActive="active" class="list-group-item  border-0 p-r-0 ">
                                                 <i class="fa fa-star-o font-18 align-middle mr-2"></i>Not Sloved
                                                  <span class="badge badge-danger badge-sm float-right m-t-5">{{countNotSolved}}</span>
                                                 </a>
    
    
    
                                       <!--  <a [routerLink]="['/savedexams']" routerLinkActive="active" class="list-group-item border-0 p-r-0">
                                            <i class="mdi mdi-file-document-box font-18 align-middle mr-2"> </i>
                                            <span class="badge badge-warning badge-sm float-right m-t-5">28</span>
    
                                           Saved</a> -->
    
                                           
                                            
                                    </div>


                                
                            </div>


                            <div role="toolbar" class="toolbar">
                                <form #frmRef="ngForm" class="form-inline ml-auto">
                                        <div class="md-form my-0">
                                           
                                          <input type="text" aria-label="Search" class="form-control" ngModel name="CourseName" [(ngModel)]="Course" placeholder="Course Name"   (input) ="search()">
                                        </div>
                                       
                                      </form>
                            </div>
                            <div class="email-right-box">
                                
                                

                                <div class="email-list m-t-15">

                                  
                                    <!-- seadawi start -->

                                    <div class="col-lg-12" id="PageContent">
                                            <div class="card">
                                                <div class="card-body">
                                                   
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr  class="TableHead" >
                                                                        <th id="ID2">Exam ID</th>
                                                                        <th id="ID1">Instructor Name </th>
                                                                        <th>Topic</th>
                                                                        <th>Course</th>
                                                                    
                                                                     
    
                                                                  
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="TableBody" *ngFor="let item of arr">
                                                                    <th>{{item.ExamID}}</th>
                                                                    <td>{{item.Instructor}}</td>
                                                                    <td><span  id="CourseName" class="badge badge-info px-2">{{item.Topic}}</span></td>
                                                                   
                                                                    <td>{{item.Course}}</td>
                                                                
    
                                                                    <td> <a type="button" [routerLink]="['/SolveExam', item.ExamID]" class="btn btn-success">Solve</a>  </td>
                                                                   
                                                                   <!--  <td> <button type="button" class="btn btn-warning">Save</button>  </td> -->
                                                                </tr>
                                        
                                        
                                                                 
                                                              
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        
    
                                       <!--seadawi end-->
    
                                        
                                       
                                       
                                    </div>
 
                                </div>
                            
                        




                                <!-- panel -->
                                <!-- <div class="row float-right" >
                                    <div class="col-7">
                                        <div class="text-left" style="margin: 8px;">1 - 20 / 590 </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="btn-group float-right">
                                            <button class="btn btn-facebook" type="button"><i class="fa fa-angle-left"></i>
                                            </button>
                                            <button class="btn btn-google"  type="button"><i class="fa fa-angle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
 