<div class="alert alert-primary m-4 text-muted font-weight-bold" role="alert" *ngFor="let Q of modelanswer">
    {{Q.Questions.questionContent}}
    <br>

    <div [ngClass]="(5 == 5)?'alert-success':'alert-danger'"
        class="mt-2 text-muted">
        <label>
            {{Q.selectedAnswer.asnwerContent}}
        </label>
    </div>

</div>

<!-- <div class="alert alert-primary m-4 text-muted font-weight-bold" role="alert"
    *ngFor="let Ques of modelanswer; let i=index">
    {{Ques.questionContent}}
    <br>

    <div class="radio" class="mt-2 alert alert-success text-muted">
        <label><input type="radio" [name]="i" value=1 checked (change)="ChangeOption(i,1)">
            {{Ques.answers[i*4].asnwerContent}}</label>
    </div>
    <div class="radio" class="mt-2 alert alert-success text-muted">
        <label><input type="radio" [name]="i" value=2 (change)="ChangeOption(i,2)"> {{Ques.answers[i*4 + 1].asnwerContent}}</label>
    </div>
    <div class="radio" class="mt-2 alert alert-success text-muted">
        <label><input type="radio" [name]="i" value=3 (change)="ChangeOption(i,3)"> {{Ques.answers[i*4 + 2].asnwerContent}}</label>
    </div>

    <div class="radio" class="mt-2 alert alert-success text-muted">
        <label><input type="radio" [name]="i" value=4 (change)="ChangeOption(i,4)"> {{Ques.answers[i*4 + 3].asnwerContent}}</label>
    </div>

</div> -->
